*.fastq.gz
*.bam
*.sam
*.gz
data/raw_data/
data/trimmed_data/
analyses/02_assembly/canu/
analyses/02_assembly/*.out
analyses/02_assembly/canu/correction/
analyses/02_assembly/canu/efaecium_e745.seqStore/
analyses/02_assembly/canu/canu-logs/
analyses/02_assembly/canu/*.fasta
analyses/03_assembly_eval/mummer/*.delta
analyses/03_assembly_eval/mummer/*.fplot
analyses/03_assembly_eval/mummer/*.rplot
analyses/03_assembly_eval/mummer/*.gp
analyses/03_assembly_eval/quast/icarus_viewers/
analyses/03_assembly_eval/quast/basic_stats/
